@model Nackowski.ViewModels.AuctionWithBidsVM

@{
    ViewData["Title"] = "FindAuctions";
}

<h2>FindAuctions</h2>

<div>
    <h4>AuctionWithBidsVM</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
